* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

.flex {
    display: flex;
}

/* barra opzioni */
header {
    background-color: aqua;
}

.barra {
    justify-content: center;
    padding-top: 10px;
}

.barra div {
    border: 1px solid #ddd;
    background: #3a1fbf;
    height: 45px;
}

.barra div {
    flex-basis: 7%;
}

.barra div.discord {
    flex-basis: 15%;
}

/* titolo */
.contenitore-titolo {
    flex-wrap: nowrap;
    justify-content: center;
    padding: 100px 0;
    
}

.titolo {
    background-color: #3a1fbf;
    width: 700px;
    height: 350px;
}

/* contenitori*/
section:not(.contenitore-immagini-4) {
    height: 500px;
}

section div {
    border: 1px solid white;
    width: 600px;
    height:400px;
}

section div.colonna:nth-child(2) {
    height: 800px;
}

.color div{
    background-color:  #3a1fbf;    
}

/* contenitore immagine */
.contenitore-immagini {
    align-items: center;
    justify-content: center;
}

.contenitore-immagini:nth-child(even) {background-color: white;}
.contenitore-immagini:nth-child(odd) {background-color: lightgrey;}

.contenitore-basis {
    width: 1201px;
}

.basis {
    flex-basis: 70%;
}


section div.colonna {
    width: 1200px;
   
}

.contenitore-colonna {
    flex-direction: column;
    width: 1201px;
    height: 700px;
}

.contenitore-immagini-4 {
    align-items: center;
    justify-content: center;
    height: 1000px;
}

/* parte finale */
footer {
    background-color: rgb(29, 29, 29);
    height: 800px;
    justify-content: center;
}

.contenitore-informazioni {
    height: 100px;
    padding-top: 30px;
    width: 1300px;
}


.contenitore-informazioni div{
    background-color: #3a1fbf;
    border: 1px solid #ddd;
    flex-basis: 20%;
}

.contenitore-informazioni div.informazioni {
    flex-basis: 40%;
}

/* parte finale */
footer > div{
    height: 400px;
    justify-content: center;
}

.contenitore-finale {
    display: flex;
    margin: auto;
    width: 1300px;
    justify-content: space-between;
}

hr {
    width: 1300px;
    margin: auto;
}

.finale {
    background-color: blue;
    height: 50px;
    width: 150px;
    margin-top: 20px;
}

